

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-weight: bolder;
    background-color: #fff;
  }
  
  .register-form {
    border: 1px solid gray;
    padding: 60px;
    font-weight: bold;
    box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.1);
  }
  .register-form h3{
    font-weight: bolder;
  } 
  .logoss { 
    height: 200px;
    position: absolute;
  } 